{% extends "base.html" %}

{% block content %}

    {% with additional_params={"enctype":"multipart/form-data"} %}
    {% include 'simple_form.html' %}
    {% endwith %}


    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username() }}
        </p>

        <p>
            {{ form.mail.label }}
            {{ form.mail() }}
        </p>

        <p>
            {{ form.password.label }}
            {{ form.password() }}
        </p>
        {{ form.submit() }}
    </form>
{% endblock %}
